<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <a class="navbar-brand" routerLink="/home">Santex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/candies">Lista de Golosinas</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/candie/new">Nueva Golosina</a>
      </li>
    </ul>
  </div>
</nav>
